body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #222222;
    color: #ffffff;
    line-height: 1.6;
}

a {
    color: #5ddd49;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    background-color: #333333; /* Slightly higher colored bar */
    padding: 1em;
}

#nav ul {
    list-style: none;
}

#nav li {
    display: inline-block;
    margin-right: 1em;
}

#nav a {
    color: #ffffff;
}

#nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

#main {
    padding: 2em;
    margin-left: 0; /* Adjusted margin-left */
    transition: 0.5s;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover, .sidebar-button a:hover {
    color: #5ddd49;
}

#sidebar.active {
    left: 0;
}

.sidebar-button {
    font-size: xx-large;
}

#main {
    margin-left: 0;
    transition: 0.5s;
}


#main.active {
    margin-left: 250px;
}

.no-margin {
    margin: 0;
}